<template>
  <div class="container">
    <loading v-if="loading"></loading>
    <link-item :link="item" :commentLink="false" :showText="true"></link-item>
    <span class="line"></span>
    <add-comment :item_id="item.id" @success="reloadComments"></add-comment>
    <comment
      v-for="comment in item.comments"
      :comment="comment"
      :key="comment.id"
    ></comment>
  </div>
</template>

<script>
import axios from 'axios'
import LinkItem from './FrontPage/LinkItem.vue'
import AddComment from './Comments/AddComment.vue'
import Comment from './Comments/Comment.vue'
import Loading from './Common/Loading.vue'
export default {
  name: 'comments',
  components: {
    LinkItem,
    AddComment,
    Loading,
    Comment
  },
  data () {
    return {
      item: {},
      loading: false
    }
  },
  mounted () {
    this.getComments()
  },
  computed: {
    linkId () {
      return this.$route.params.id
    },
    linkItemData () {
      return {
        id: item.id,
        title: item.title,
        url: item.url
      }
    }
  },
  methods: {
    getComments () {
      this.loading = true
      axios.get('/api/v1/i/' + this.linkId)
        .then(res => {
          this.item = res.data
          this.loading = false
        })
        .catch(err => {
          console.error(err)
          this.loading = false
        })
    },
    reloadComments () {
      this.getComments()
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../sass/_variables.scss";
.line {
  display: flex;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 2px;
  background-color: $primary;
}
</style>
