<template>
  <section class="section">
    <loading v-if="loading"></loading>
    <div id="main" class="container" v-else>
      <link-item v-for="(link, index) in links" :num="((page - 1) * 30) + index + 1" :link="link" :key="index"></link-item>
      <div class="navigation">
        <a @click="prevPage" v-if="page > 1">Previous</a>
        <a @click="nextPage" v-if="links.length >= 30">Next</a>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import LinkItem from './FrontPage/LinkItem.vue'
import Loading from './Common/Loading.vue'
export default {
  components: {
    LinkItem,
    Loading
  },
  mounted () {
    this.getLinks()
  },
  data () {
    return {
      loading: false,
      page: 1,
      links: []
    }
  },
  computed: {
    currentRoute () {
      return this.$route.name
    }
  },
  methods: {
    nextPage () {
      this.page++
      this.getLinks()
      window.scrollTo(0,0)
    },
    prevPage () {
      this.page--
      this.getLinks()
      window.scrollTo(0,0)
    },
    getLinks () {
      this.loading = true
      axios.get('/api/v1/i', { params: {
        page: this.page,
        filter: this.currentRoute
      }}).then(res => {
        this.links = res.data
        this.loading = false
      }).catch(err => {
        console.error(err)
        this.loading = false
      })
    }
  },
  watch: {
    currentRoute () {
      this.page = 1
      this.links = []
      this.getLinks()
    }
  }
}
</script>

<style lang="scss" scoped>
  .navigation {
    margin-top: 1rem;
    a {
      margin-right: 2rem;
    }
  }
</style>
