<template>
  <div class="content">
  	<h1>Lit News Privacy Policy</h1>
    <p>Last Modified August 3, 2017</p>
    <p>This privacy policy discloses the privacy practices for lit-news.com and its subdomains (collectively “the Services”). This privacy policy applies solely to information collected by these websites. It will notify you of the following:</p>
    <ul>
    <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
    <li>What choices are available to you regarding the use of your data.</li>
    <li>The security procedures in place to protect the misuse of your information.</li>
    <li>How you can correct any inaccuracies in the information.</li>
    </ul>
    <h1>Information Collection, Use, and Sharing</h1>
    <p>We are the sole owners of the information collected on this site. We only have access to collect information that you voluntarily give us via email or other direct contact from you, or through the information transmitted by your browser. We will not sell or rent this information to anyone.</p>
    <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, or to improve our services and better understand traffic sources and patterns.</p>
    <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy. You may choose to opt out of these promotional announcements at any time.</p>
    <h1>Registration</h1>
    <p>In order to use the Lit News Services, a user must first complete an account registration form. During registration, a user is required to give certain information (such as name and email address). This information is used to establish an account for you.  Additionally, when purchasing a job listing, we request information from you on our checkout form. To buy from us, you must provide financial information (like credit card number, expiration date, and billing postal code). This information is used for billing purposes and to fill your orders. Extra care and third-party tools will be utilized to increase the security of billing information that is collected and in such cases, your information might also be shared with third-party vendors.</p>
    <h1>IP Address Information and Other Information Collected Automatically</h1>
    <p>We automatically receive and record information from your web browser when you interact with the Site, including your IP address and cookie information. Generally, the Site automatically collects usage information, such as the number and frequency of visitors to the Site. We may use this data in aggregate form, that is, as a statistical measure, but not in a manner that would identify you personally. This type of aggregate data enables us and third parties authorized by us to figure out how often individuals use parts of the Service so that we can analyze and improve them.</p>
    <h1>Cookies</h1>
    <p>We use “cookies” on lit-news.com and its subdomains. A cookie is a piece of data stored on a site visitor’s hard drive, to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>
    <h1>User Content</h1>
    <p>Some features of the Service allow you to submit User Submissions to the Service. All User Submissions submitted by you to the Service may be retained by us so long as you use the Service or maintain an account. We may also retain User Submissions submitted by you after you terminate your account. We may continue to disclose such User Submissions to third parties as described in this Privacy Policy. By submitting any User Submissions, you agree that such User Submissions is non-confidential for all purposes. In addition, your User Submissions is posted and transmitted at your own risk. Although, please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of other users of the Service with whom you may choose to share your User Submissions. Therefore, we cannot and do not guarantee that your User Submissions will not be viewed by unauthorized persons.</p>
    <h1>Sharing Information with Third Parties</h1>
    <p>We may also share with third parties aggregated or de-identified information, which cannot be reasonably used to identify you, including for marketing and research purposes or for sale to interested parties.</p>
    <p>We may share Personal Information with our business partners in order to provide you a service you use or request, subject to commitments by such parties to use your information only for that purpose and to protect it from disclosure.</p>
    <p>We may share Personal Information in response to a valid law enforcement request or legal process, to protect our rights and property or those of third parties, or as otherwise permitted or required by law.</p>
    <p>We may share Personal Information with a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of Lit News' assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which Personal Information held by Lit News about our Service users is among the assets transferred.</p>
    <p>Additionally, in the following circumstances, we may disclose your Personal Information without your consent:</p>
    <ul>
    <li>if we believe there is a serious and imminent threat to the life, health or&nbsp;safety&nbsp;of yourself or another person (for example, if we learn that a person is suffering abuse or has made statements of an intent to commit self-harm or harm another);</li>
    <li>to investigate or report on activity which we believe on reasonable grounds to be unlawful;</li>
    <li>if disclosure is required or authorized by law (for example, in response to a subpoena or where a regulatory authority has the power to request the provision of certain records or information);</li>
    <li>if disclosure is reasonably necessary to enable an enforcement body to perform its functions, for example the prevention, detection, investigation, prosecution or punishment of criminal offenses, or the preparation for, or conduct of, proceedings before any court or tribunal, or implementation of the orders of a court or tribunal; or</li>
    <li>if we deem it necessary in our sole discretion to protect our legal and legitimate business interests.</li>
    </ul>
    <h1>Protecting Your Information</h1>
    <p>We take the security of your Personal Information very seriously, and have implemented policies and procedures, including technical measures, that are designed to help safeguard it. Please remember that you play a valuable part in security as well. Your password to access our Service, which you select at registration, should never be shared with anyone and should be changed frequently. While we strive to use best practices to protect your Personal Information, the Internet and computer technology is not 100% secure and we cannot absolutely ensure the security of any Personal Information that you provide to us.</p>
    <h1>California Residents</h1>
    <p>California residents may choose to request certain information regarding our disclosure of Personal Information to third parties for their direct marketing purposes or choose to opt out of such disclosure. To make a request or to opt out at any time, please contact us at&nbsp;contact@mail.lit-news.com&nbsp;or the other contact information provided below. Our policy is not to disclose Personal Information collected online to a third party for directing marketing without your approval.</p>
    <h1>Third Party Websites</h1>
    <p>You should carefully review security/privacy policies of any third-party sites accessible from the Site. Other sites accessible through the Site have their own policies and data collection, use, and disclosure practices. Please consult each site’s policies and practice. Lit News is not responsible for the policies or practices of third parties. The information practices of those websites linked from the Site are not covered by this Privacy Policy. These other sites may send their own cookies to users, collect data, or solicit personal information.</p>
    <h1>Security</h1>
    <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
    <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted in a secure way. You can verify this by looking for a closed lock icon in your web browser, or looking for “https” at the beginning of the address of the web page.</p>
    <p>While we use encryption and take other measures to help protect sensitive information transmitted online, we make no guarantees that your information is safe from deliberate hacking or theft.</p>
    <h1>Updates</h1>
    <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
    <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email: contact@mail.lit-news.com</p>

  </div>
</template>

<script>
export default {
  created () {

  },
  data () {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>

</style>
