<template>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="tabs is-boxed">
        <ul>
          <li
            :class="[tab === 'saved' ? 'is-active' : '']"
            @click="tab = 'saved'"
          >
            <a>Saved Links</a>
          </li>
          <li
            :class="[tab === 'profile' ? 'is-active' : '']"
            @click="tab = 'profile'"
          >
            <a>Profile</a>
          </li>

        </ul>
      </div>

      <account v-if="tab === 'profile'"></account>
      <saved-links v-if="tab === 'saved'"></saved-links>
    </div>
  </div>
</template>

<script>
import Account from './Profile/Account.vue'
import SavedLinks from './Profile/SavedLinks.vue'
export default {
  name: 'profile',
  components: {
    Account,
    SavedLinks
  },
  data () {
    return {
      tab: 'saved'
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!this.$store.state.user.isLoggedIn) {
        this.$router.push('/login')
      }
    })
  },
  computed: {
    username () {
      return this.$store.state.user.name
    }
  }
}
</script>
