<template>
  <div class="comment">
    <comment :comment="comment" :children="false"></comment>
    <add-comment class="comment-box" :comment="comment" :item_id="comment.item_id" @success="goBack"></add-comment>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import Comment from './Comments/Comment.vue'
import AddComment from './Comments/AddComment.vue'
export default {
  name: 'reply',
  components: {
    Comment,
    AddComment
  },
  data () {
    return {
      comment: {}
    }
  },
  mounted () {
    axios.get('/api/v1/c/' + this.commentId)
      .then(res => {
        this.comment = res.data
      })
      .catch(err => {
        console.error(err)
      })
  },
  computed: {
    commentId () {
      return this.$route.params.id
    },
    age () {
      return moment(this.comment.created_at).fromNow()
    },
    isLoggedIn () {
      return this.$store.state.user.isLoggedIn
    },
    canDownvote () {
      return false
    }
  },
  methods: {
    goBack () {
      this.$router.push('/i/' + this.comment.item_id)
    },
    truncate (str) {
      return str.substring(0,50) + '...'
    }
  }
}
</script>

<style lang="scss" scoped>
.comment {
  margin: 1rem 1rem 1rem 2rem;
}
.comment-box {
  margin-left: 3.5rem !important;
}
</style>
