<template>
  <div class="container">

    <div class="columns">
      <div class="column">
        <div class="">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" v-model="queryBox" @keyup.enter="search"/>
            </p>
            <div class="control">
              <a class="button is-info" @click="search">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loading v-if="loading"></loading>
    <div class="columns" v-else>
      <div class="column">
        <p v-if="results.length === 0">
          No results found
        </p>
        <link-item
          v-for="result in this.results"
          :link="result"
          :key="result.id"
          :vote='false'
        ></link-item>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Loading from './Common/Loading.vue'
import LinkItem from './FrontPage/LinkItem.vue'
export default {
  components: {
    LinkItem,
    Loading
  },
  data () {
    return {
      loading: false,
      results: [],
      queryBox: ''
    }
  },
  mounted () {
    this.queryBox = this.searchQuery
    this.getResults(this.searchQuery)
  },
  computed: {
    searchQuery () {
      return this.$route.query.q
    }
  },
  methods: {
    search () {
      this.getResults(this.queryBox)
    },
    getResults (query) {
      if (query) {
        this.loading = true
        axios.get('/api/v1/s', {params: {q: query}})
          .then(res => {
            this.results = res.data
            this.loading = false
          })
          .catch(err => {
            console.error(err)
            this.loading = false
          })
      }
    }
  }
}
</script>
