<template>
  <section class="section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">

        <div class="content">
          <h2 class="title">Submit a link or start a discussion</h2>
        </div>

        <div class="tabs is-boxed">
          <ul>
            <li
              :class="[tab === 'url' ? 'is-active' : '']"
              @click="tab = 'url'"
            >
              <a>Link</a>
            </li>
            <li
              :class="[tab === 'text' ? 'is-active' : '']"
              @click="tab = 'text'"
            >
              <a>Discuss</a>
            </li>
          </ul>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="" v-model="title">
          </div>
          <p class="help is-danger" v-if="errors.title">{{errors.title}}</p>
        </div>

        <template v-if="tab === 'url'">
          <label class="label">Link</label>
          <div class="field">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="" v-model="url">
            </p>
            <p class="help is-danger" v-if="errors.url">{{errors.url}}</p>
          </div>
        </template>

        <template v-if="tab === 'text'">
          <div class="field">
            <label class="label">Text</label>
            <div class="control">
              <textarea class="textarea" placeholder="" rows="10" v-model="text"></textarea>
            </div>
            <p class="help is-danger" v-if="errors.text">{{errors.text}}</p>
          </div>
        </template>

        <div class="field">
          <div class="control">
            <a class="button is-primary" @click="submit" :class="loading ? 'is-loading' : ''">Submit</a>
          </div>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  name: 'submit',
  data () {
    return {
      loading: false,
      tab: 'url',
      title: '',
      url: '',
      text: '',
      errors: {
        url: '',
        title: '',
        text: ''
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!this.$store.state.user.isLoggedIn) {
        this.$router.push('/login')
      }
    })
  },
  methods: {
    submit () {
      //TODO Remove https dropdown and programatically add it if missing
      //TODO Check if the URL has been submitted already - return item and redirect.

      this.loading = true
      this.clearErrors()
      let payload = {
        title: this.title,
      }
      if (this.tab === 'url') {
        payload.url = this.assembleUrl(this.url)
      } else if (this.tab === 'text') {
        payload.text = this.text
      }

      axios.post('/api/v1/i', payload)
        .then(res => {
          this.loading = false
          this.$router.push('/i/' + res.data.id)
        })
        .catch(err => {
          console.error(err)
          for (let field in err.response.data) {
            this.errors[field] = err.response.data[field][0]
          }
          this.loading = false
        })
    },
    clearErrors () {
      for (let field in this.errors) {
        this.errors[field]= ''
      }
    },
    assembleUrl (url) {
      const pattern = /^(https?:\/\/)/g
      if (url.match(pattern) != null && url.match(pattern).length > 0) {
        return url
      } else {
        return 'http://' + url
      }
    }
  }
}
</script>
