<template>
  <div class="container">
    <div class="columns">
      <div class="column">

        <div class="box">
          <p>
            <strong>{{username}}</strong> | <small>{{user.karma}} karma</small> | <small>Joined {{joinedDate}}</small>
            <template v-if="user.twitter"> | <small><a :href="'https://twitter.com/' + user.twitter">@{{user.twitter}}</a></small></template>
          </p>

          <hr />

          <div><p><small><strong>About</strong></small></p></div>
          <div class="box">
            <p v-if="user.about">
              {{user.about}}
            </p>
          </div>

          <div><p><small><strong>Submissions</strong></small></p></div>
          <div class="box">
            <link-item v-for="submission in user.submissions" :key="submission.id" :link="submission" :vote="false" :commentLink="true"></link-item>
          </div>

          <div><p><small><strong>Comments</strong></small></p></div>
          <div class="box">
            <comment v-for="comment in user.comments" :key="comment.id" :comment="comment" :vote="false" :showItem="true"></comment>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Comment from './Comments/Comment.vue'
import LinkItem from './FrontPage/LinkItem.vue'
export default {
  data () {
    return {
      user: {}
    }
  },
  components: {
    Comment,
    LinkItem
  },
  mounted () {
    this.getUser()
  },
  computed: {
    username () {
      return this.$route.params.username
    },
    joinedDate () {
      return moment(this.user.created_at).fromNow()
    }
  },
  methods: {
    getUser () {
      axios.get('/api/v1/u/' + this.username)
        .then(res => {
          this.user = res.data
        })
        .catch(err => {
          console.error(err)
        })
    }
  }
}
</script>
