<template>
  <article class="media">
    <figure class="media-content">
      <p class="link-item">

        <span class="col num" v-if="num">
          <span>{{num}}.</span>
        </span>

        <span class="col vote" v-if="vote">
          <template v-if="!user_vote">
            <span class="icon" @click="upvote">
              <i class="fa fa-caret-up"></i>
            </span>
            <span class="icon" @click="downvote" v-if="canDownvote">
              <i class="fa fa-caret-down"></i>
            </span>
          </template>
        </span>

        <span class="col content">
          <div>
            <template v-if="link.url">
              <a :href="link.url" target="_blank" rel="nofollow">{{link.title}}</a> <small>(<a :href="'s?q=' + domainUrl[1]">{{domainUrl[1]}}</a>)</small>
            </template>
            <template v-if="link.text">
              <a :href="'/i/' + link.id">{{link.title}}</a>
              <div v-if="showText">
                <p class='spaced'>{{link.text}}</p>
              </div>
            </template>
          </div>

          <div>
            <small>
              <span>{{points}}</span> points by
              <a :href="'/u/' + link.username">{{link.username}}</a>
               {{age}}
              <template v-if="isLoggedIn">
                 | <a @click="flag">flag</a>
                 <template v-if="saveButton && !isSaved">| <a @click="save">save</a></template>
              </template>
              <template v-if="commentLink">
                | <a :href="'/i/' + link.id">{{link.num_comments}} comment<template v-if="link.comments !== 1">s</template></a>
              </template>

            </small>
          </div>
        </span>
      </p>
    </figure>
  </article>

</template>


<script>
import axios from 'axios'
import moment from 'moment'
export default {
  props: {
    num: {
      type: Number
    },
    link: {
      type: Object
    },
    vote: {
      type: Boolean,
      default: true
    },
    saveButton: {
      type: Boolean,
      default: true
    },
    commentLink: {
      type: Boolean,
      default: true
    },
    showText: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    domainUrl () {
      const pattern = /^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:/\n]+)/im
      const matches = this.link.url.match(pattern)
      console.log(matches)
      return matches
    },
    age () {
      return moment(this.link.created_at).fromNow()
    },
    isLoggedIn () {
      return this.$store.state.user.isLoggedIn
    },
    canDownvote () {
      return this.$store.state.user.karma >= 100
    },
    user_vote () {
      return this.link.user_vote
    },
    isSaved () {
      return this.link.is_saved
    },
    points () {
      const points = this.link.points
      if (typeof points === 'undefined' || points === null) {
        return 0
      } else {
        return points
      }
    }
  },
  methods: {
    upvote () {
      if (this.isLoggedIn) {
        axios.post('/api/v1/v', {
          item_id: this.link.id,
          vote: 1,
        })
        .then(res => {
          this.link.user_vote = 1
        })
        .catch(err => {
          console.error(err)
        })
      } else {
        this.$router.push('/login')
      }
    },
    downvote () {
      if (this.isLoggedIn) {
        axios.post('/api/v1/v', {
          item_id: this.link.id,
          vote: -1,
        })
        .then(res => {
          this.link.user_vote = 1
        })
        .catch(err => {
          console.error(err)
        })
      }
    },
    flag () {
      this.$store.dispatch('setFlagModal', true)
      this.$store.commit('SET_FLAG_ITEM', this.link)
    },
    save () {
      if (this.isLoggedIn) {
        axios.post('/api/v1/saved', {
          item_id: this.link.id,
        })
        .then(res => {
          this.link.is_saved = true
        })
        .catch(err => {
          console.error(err)
        })
      } else {
        this.$router.push('/login')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../sass/_variables.scss';
// a {
//   color: #1a1a1a;
// }
.media {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
}
.col {
  margin-right: 1rem;
}
.link-item {
  display: flex;
  flex-direction: row;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote {
  display: flex;
  flex-direction: column;
  width: 1rem;
  .fa:hover {
    cursor: pointer;
    color: $primary;
  }
}

.spaced {
  white-space: pre-wrap;
}
</style>
