// Default Bulma variables
// $body-size: 15px;

// Scheme 1
// $primary: #8D4842;
// $info: #C9A762;
// $success: #4C474D;
// $warning: #BC896C;
// $danger: red;
// $white: #EEEDEC;

// Scheme 2
// $primary: #A4BDC9;
// $info: #2E2F50;
// $success: #8B654E;
// $warning: #D37755;
// $danger: red;
// $white: #F6F5F8;

// Scheme 3
$primary: #B64C48;
$info: #6E4531;
$success: #B3875B;
$warning: #361C19;
$danger: red;
$white: #F1EFEE;

// Scheme 4
// $primary: #889BA2;
// $info: #8BBCBC;
// $success: #889BA2;
// $warning: #CEE2E2;
// $danger: red;
// $white: #F1EFEE;

$body-background: $white;
$background: $white;
