<template>
  <div class="main">
    <nav-bar></nav-bar>
    <flag></flag>
    <router-view class="router-content"></router-view>
    <site-footer class="footer"></site-footer>
  </div>
</template>

<script>
import Flag from './components/Common/Flag.vue'
import SiteFooter from './components/Common/Footer.vue'
import NavBar from './components/Common/NavBar.vue'
export default {
  components: {
    SiteFooter,
    NavBar,
    Flag
  },
  mounted () {
    if ('user' in window.Laravel && window.Laravel.user) {
      this.$store.commit('SET_USER_STATUS', true)
      this.$store.commit('SET_USER_INFO', window.Laravel.user)
    }
  }
}
</script>

<style lang="scss">
@import '../sass/_variables.scss';
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/font-awesome/css/font-awesome.css";

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.router-content {
  flex: 1;
  padding: 1.5rem;
}
.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
