<template>
  <div class="modal" :class="[flag ? 'is-active' : '']">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Flag {{type}}</p>
        <button class="delete" @click="close"></button>
      </header>
      <section class="modal-card-body">
        <template>
          <div class="box">
            <p>
              {{comment.comment}}
            </p>
            <p>
              {{item.title}}
            </p>
          </div>
        </template>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" placeholder="Reason for flagging..." v-model="message"></textarea>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-success" @click="submit">Submit</a>
        <a class="button" @click="close">Cancel</a>
      </footer>
    </div>
  </div>
</template>


<script>
import axios from 'axios'
export default {
  data () {
    return {
      message: ''
    }
  },
  methods: {
    close () {
      this.$store.dispatch('setFlagModal', false)
    },
    submit () {
      if (!this.message) {
        alert("Please include a reason why you're flagging this.")
        return
      }
      axios.post('/api/v1/flag', {
        message: this.message,
        comment_id: this.comment.id,
        item_id: this.item.id
      })
      .then(res => {
        this.close()
        this.$store.commit('SET_FLAG_COMMENT', {})
        this.$store.commit('SET_FLAG_ITEM', {})
        alert("A message has been sent to the moderators")
      })
      .catch(err => {
        console.error(err)
      })
    }
  },
  computed: {
    flag () {
      return this.$store.state.app.flag
    },
    comment () {
      return this.$store.state.app.flagComment
    },
    item () {
      return this.$store.state.app.flagItem
    },
    type () {
      if (typeof this.comment !== 'undefined' && this.comment) {
        return 'Comment'
      } else if (typeof this.item !== 'undefined' && this.item) {
        return 'Submission'
      }
    }
  }
}
</script>
