<template>
  <div class="lit-footer">
    <footer class="footer">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <small>
              Lit-News.com
            </small>
          </div>
        </div>
        <div class="level-right">
          <router-link class="level-item" to="/terms"><small>Terms & Conditions</small></router-link>
          <router-link class="level-item" to="/privacypolicy"><small>Privacy Policy</small></router-link>
        </div>
      </nav>
    </footer>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../sass/_variables.scss';
.footer {
  background-color: $white;
  padding: 0.25rem 1rem 0.25rem 1rem;
}
.lit-footer {
  border-top: 5px solid $primary;
}
</style>
