<template>
    <div class="content">
      <div class="columns">
        <div class="column has-text-centered">
          <span class="icon">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </span>
        </div>
      </div>
    </div>
</template>
