<template>
  <div class="lit-nav">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item logo" @click="reload">
          LitNews
        </a>

        <div class="navbar-burger" @click="toggleBurger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu" :class="navbarActive ? 'is-active' : ''">

        <div class="navbar-start">
          <a class="navbar-item" @click.prevent="goto('/new')">
            New
          </a>

          <a class="navbar-item" @click.prevent="goto('/submit')">
            Submit
          </a>

        </div>

        <div class="navbar-end">
          <!-- Persistant -->
          <a class="navbar-item" @click="showSearch">
            <span class="icon" v-if="!navbarActive">
              <i class="fa fa-search"></i>
            </span>
            <span v-else>
              Search
            </span>
          </a>
          <div class="navbar-item" v-if="searchVisible">
            <input
              class="input"
              placeholder="Search..."
              v-model='query'
              @keyup.enter="search"
              @keyup.esc="searchVisible = false"
              ref="searchInput"
            />
          </div>

          <!-- Logged Out -->
          <template v-if="!loggedIn">
            <router-link class="navbar-item" to="/login">
              Login
            </router-link>
          </template>
          <!-- Logged In -->
          <template v-else>
            <router-link class="navbar-item" to="/profile">
              {{name}} <span class="karma"><small>({{karma}})</small></span>
            </router-link>
            <a class="navbar-item" @click.prevent="logout">
              Logout
            </a>
          </template>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      navbarActive: false,
      searchVisible: false,
      query: ''
    }
  },
  computed: {
    loggedIn () {
      return this.$store.state.user.isLoggedIn
    },
    name () {
      return this.$store.state.user.name
    },
    karma () {
      return this.$store.state.user.karma
    }
  },
  methods: {
    reload () {
      this.$router.push('/')
      // window.location.reload()
    },
    goto (path) {
      this.navbarActive = false
      this.$router.push(path)
    },
    logout () {
      axios.post('/logout')
        .then(response => {
          this.loggedIn = false
          this.$router.push('/')
          location.reload()
        })
        .catch(err => {
          console.error(err)
        })
    },
    toggleBurger () {
      this.navbarActive = !this.navbarActive
    },
    showSearch () {
      this.searchVisible = !this.searchVisible
      this.$nextTick(() => {
        if (typeof this.$refs.searchInput !== 'undefined') {
          this.$refs.searchInput.focus()
        }
      })
    },
    search () {
      this.$router.push('/s?q=' + this.query)
      this.searchVisible = false
      this.query = ''
    }
  },
  beforeRouteLeave: function(to, from, next) {
    this.navbarActive = false
    next()
  }
}
</script>

<style lang="scss" scoped>
@import '../../../sass/_variables.scss';
.lit-nav {
  border-bottom: 10px solid $primary;
}
.karma {
  margin-left: 0.25rem;
}
</style>
