<template>
  <div class="columns comment-box">
    <div class="column is-half"  v-if="isLoggedIn">
      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="" v-model="commentBox"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" @click="submitComment">Add Comment</button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    comment: {
      type: Object
    },
    item_id: {
      type: Number
    }
  },
  data () {
    return {
      commentBox: ''
    }
  },
  computed: {
    parent_id () {
      if (typeof this.comment !== 'undefined' && 'id' in this.comment) {
        return this.comment.id
      } else {
        return null
      }
    },
    isLoggedIn () {
      return this.$store.state.user.isLoggedIn
    }
  },
  methods: {
    submitComment () {
      axios.post('/api/v1/c', {
        item_id: this.item_id,
        parent_id: this.parent_id,
        comment: this.commentBox
      })
      .then(res => {
        this.commentBox = ''
        this.$emit('success', true)
      })
      .catch(err => {
        console.error(err)
      })
    }
  }
}
</script>

<style scoped>
.comment-box {
  margin-top: 1rem;
  margin-left: 1rem;
}
</style>
