<template>
  <div class="comment">
    <article class="media">
      <figure class="media-content">
        <p class="link-item">
          <span class="col vote" v-if="vote">
            <template v-if="!user_vote">
              <span class="icon" @click="upvote">
                <i class="fa fa-caret-up"></i>
              </span>
              <span class="icon" @click="downvote" v-if="canDownvote">
                <i class="fa fa-caret-down"></i>
              </span>
            </template>
          </span>
          <span class="col content">
            <small>
              <template v-if="minimize">
                <a class="minimize" v-if="!minimized" @click="minimized = true">[-]</a>
                <a class="minimize" v-else @click="minimized = false">[+]</a>
              </template>
              <a :href="'/u/' + comment.username">{{comment.username}}</a> {{age}}
              | <router-link :to="'/c/' + comment.id">permalink</router-link>
              <template v-if="isLoggedIn">
                 | <a @click="flag">flag</a>
                 <template v-if="saveButton && !isSaved">| <a @click="save">save</a></template>
                 | <router-link :to="'/c/' + comment.id">reply</router-link>
              </template>
              <template v-if="showItem">
                | on: <a :href="'/i/' + comment.item.id">{{truncate(comment.item.title)}}</a>
              </template>
            </small>
            <br />
            <div class="content" v-if="!minimized">
              <p class="spaced">{{comment.comment}}</p>
            </div>
          </span>
        </p>
      </figure>
    </article>
    <div class="children" v-if="!minimized && children">
      <comment v-for="child in comment.children" :comment="child" :key="comment.id"></comment>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
export default {
  name: 'comment',
  props: {
    comment: {
      type: Object
    },
    vote: {
      type: Boolean,
      default: true
    },
    saveButton: {
      type: Boolean,
      default: true
    },
    children: {
      type: Boolean,
      default: true
    },
    showItem: {
      type: Boolean,
      default: false
    },
    minimize: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      minimized: false
    }
  },
  computed: {
    age () {
      return moment(this.comment.created_at).fromNow()
    },
    isLoggedIn () {
      return this.$store.state.user.isLoggedIn
    },
    canDownvote () {
      return this.$store.state.user.karma >= 100
    },
    user_vote () {
      return this.comment.user_vote
    },
    isSaved () {
      return this.comment.is_saved
    }
  },
  methods: {
    flag () {
      this.$store.dispatch('setFlagModal', true)
      this.$store.commit('SET_FLAG_COMMENT', this.comment)
    },
    save () {
      if (this.isLoggedIn) {
        axios.post('/api/v1/saved', {
          comment_id: this.comment.id,
        })
        .then(res => {
          this.comment.is_saved = true
        })
        .catch(err => {
          console.error(err)
        })
      } else {
        this.$router.push('/login')
      }
    },
    upvote () {
      if (this.isLoggedIn) {
        axios.post('/api/v1/v', {
          comment_id: this.comment.id,
          vote: 1,
        })
        .then(res => {
          this.comment.user_vote = 1
        })
        .catch(err => {
          console.error(err)
        })
      } else {
        this.$router.push('/login')
      }
    },
    downvote () {
      if (this.isLoggedIn) {
        axios.post('/api/v1/v', {
          comment_id: this.comment.id,
          vote: -1,
        })
        .then(res => {
          this.comment.user_vote = -1
        })
        .catch(err => {
          console.error(err)
        })
      }
    },
    truncate (str) {
      let truncated = str
      if (str.length >= 50) {
        truncated = str.substring(0,50) + '...'
      }
      return truncated
    }
  }
}
</script>

<style lang="scss" scoped>
.children {
  margin: 1rem;
  margin-left: 2rem;
}
.col {
  margin-right: 1rem;
}
.link-item {
  display: flex;
  flex-direction: row;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote {
  display: flex;
  flex-direction: column;
  width: 1rem;
  .fa:hover {
    color: teal;
    cursor: pointer;
  }
}
.spaced {
  white-space: pre-wrap;
}
</style>
