<template>
  <div>
    <div class="content">
      <h1>
        {{user.name}}
      </h1>
      <p>Member for {{date}} with {{karma}} karma.</p>
      <a :href="'/u/' + username" target="_blank">Public Profile</a>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" :class="[errors.email ? 'is-danger animated shake': '']" v-model="email"/>
      </div>
      <span
        class="help is-danger"
        v-if="errors.email"
      >
        {{errors.email[0]}}
      </span>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" :class="[errors.password ? 'is-danger animated shake': '']" type="password" v-model="password"/>
      </div>
      <span
        class="help is-danger"
        v-if="errors.password"
      >
        {{errors.password[0]}}
      </span>
    </div>

    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input" :class="[errors.password ? 'is-danger animated shake': '']" type="password" v-model="password_confirmation"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Twitter Username</label>
      <div class="control has-icons-left">
        <span class="icon is-left">
          @
        </span>
        <input class="input" v-model="twitter"/>
      </div>
    </div>

    <div class="field">
      <label class="label">About</label>
      <div class="control">
        <textarea class="textarea" placeholder="" rows="10" v-model="about"></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <a class="button is-primary" :class="[loading ? 'is-loading' : '']" @click="updateProfile">Save</a>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
export default {
  name: 'profile',
  data () {
    return {
      loading: false,
      errors: {},
      payload: {},
      _password: '',
      _password_confirmation: ''
    }
  },
  computed: {
    password: {
      get () {
        return this._password
      },
      set (val) {
        this.payload.password = val
      }
    },
    password_confirmation: {
      get () {
        return this._password_confirmation
      },
      set (val) {
        this.payload.password_confirmation = val
      }
    },
    email: {
      get () {
        return this.user.email
      },
      set (val) {
        this.payload.email = val
      }
    },
    twitter: {
      get () {
        return this.user.twitter
      },
      set (val) {
        this.payload.twitter = val
      }
    },
    about: {
      get () {
        return this.user.about
      },
      set (val) {
        this.payload.about = val
      }
    },
    user () {
      return this.$store.state.user
    },
    username () {
      return this.$store.state.user.name
    },
    date () {
      return moment(this.user.created_at).toNow(true)
    },
    karma () {
      return this.user.karma
    }
  },
  methods: {
    updateProfile () {
      if (Object.keys(this.payload).length === 0 && this.payload.constructor === Object) return
      this.errors = {}
      this.loading = true

      axios.post('/api/v1/profile', this.payload)
      .then(res => {
        this.loading = false
        this.$store.commit('SET_USER_INFO', res.data)
        this.payload = {}
        alert('Profile updated!')
      })
      .catch(err => {
        this.errors = err.response.data
        this.loading = false
      })
    }
  }
}
</script>
