<template>
  <div class="box">
    <loading v-if="loading"></loading>
    <template v-for="savedLink in this.saved">

      <div class="box" v-if="savedLink.item">
        <small class="saved-title">Link saved {{date(savedLink.item.created_at)}}</small>
        <a class="delete is-pulled-right" @click="unsave({item_id: savedLink.item.id})"></a>
        <link-item
          :link="savedLink.item"
          :vote="false"
          :saveButton="false"
          :showItem="true"
        ></link-item>
      </div>

      <div class="box" v-if="savedLink.comment">
        <small class="saved-title">Comment saved {{date(savedLink.comment.created_at)}}</small>
        <a class="delete is-pulled-right" @click="unsave({comment_id: savedLink.comment.id})"></a>
        <comment
          :comment="savedLink.comment"
          :vote="false"
          :saveButton="false"
          :children="false"
          :minimize="false"
        ></comment>
      </div>

    </template>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Loading from '../Common/Loading.vue'
import LinkItem from '../FrontPage/LinkItem.vue'
import Comment from '../Comments/Comment.vue'
export default {
  name: 'saved-links',
  data () {
    return {
      loading: false,
      saved: []
    }
  },
  components: {
    Loading,
    LinkItem,
    Comment
  },
  mounted () {
    this.getSaved()
  },
  methods: {
    getSaved () {
      this.loading = true
      axios.get('/api/v1/saved')
        .then(res => {
          this.saved = res.data
          this.loading = false
        })
        .catch(err => {
          console.error(err)
          this.loading = false
        })
    },
    date (date) {
      return moment(date).format('MMM D, YYYY H:m a')
    },
    removeSaved (payload) {
      if ('item_id' in payload) {
        for (let i = this.saved.length - 1; i >= 0; i--) {
          if (this.saved[i].item && this.saved[i].item.id === payload.item_id) {
            this.saved.splice(i, 1)
          }
        }
      } else if ('comment_id' in payload) {
        for (let i = this.saved.length - 1; i >= 0; i--) {
          if (this.saved[i].comment && this.saved[i].comment.id === payload.comment_id) {
            this.saved.splice(i, 1)
          }
        }
      }
    },
    unsave (payload) {
      axios.post('/api/v1/saved/unsave', payload)
        .then(res => {
          this.removeSaved(payload)
        })
        .catch(err => {
          console.error(err)
        })
    }
  }
}
</script>

<style scoped lang="scss">
.saved-title {
  width: 100%;
  border-bottom: 1px solid gray;
}
</style>
