<template>
  <section class="section center-box">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">

          <div class="box" :class="{'animated fadeOut': success.login}">
            <h1 class="title">Login</h1>

            <p class="field">
              <label class="label">Username</label>
              <input
                class="input"
                :class="{'is-danger animated shake': errors.name}"
                type="text"
                name="username"
                placeholder=""
                v-model="payload.name"
                tabindex="1"
                autofocus
                @keyup.enter.prevent="login"
              >
              <span
                class="help is-danger"
                v-if="errors.name"
              >
                {{errors.name}}
              </span>
            </p>

            <p class="field">
              <label class="label">Password</label>
              <input
                class="input"
                :class="{'is-danger animated shake': errors.password}"
                type="password"
                name="password"
                tabindex="2"
                v-model="payload.password"
                @keyup.enter.prevent="login"
              >
              <span
                class="help is-danger"
                v-if="errors.password"
              >{{errors.password}}</span>
            </p>
            <p class="field">
              <label class="checkbox">
                <input
                  type="checkbox"
                  ref="remember"
                  v-model="payload.remember"
                  tabindex="3"
                >
                Remember me
              </label>
            </p>
            <div class="button-row">
              <a
                class="button is-primary"
                :class="[loading ? 'is-loading' : '']"
                @click.prevent="login"
                tabindex="4"
              >
                Log in
              </a>
              <div class="button-right">
                <router-link
                  class="button-reset"
                  tabindex="5"
                  :to="{name: 'resetEmail'}"
                >
                  Forgot password?
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="register-link has-text-centered">
      <router-link
        class="button-register"
        tabindex="6"
        :to="{name: 'register'}"
      >
        Need an account? Register here.
      </router-link>
    </div>

  </section>
</template>

<script>
import cookie from 'cookie'
import axios from 'axios'

export default {
  mounted () {

  },
  data: function () {
    return {
      payload: {
        name: '',
        password: '',
        remember: false
      },
      errors: {
        name: '',
        password: ''
      },
      success: {
        login: false
      },
      loading: false
    }
  },
  computed: {
  },
  methods: {
    login () {
      this.loading = true
      let submit = Object.assign({}, this.payload)
      if (!submit.remember) {
        delete submit.remember
      }
      axios.post('/login', submit)
        .then((response) => {
          this.loading = false
          this.success.login = true

          this.$store.commit('SET_USER_STATUS', true)
          this.$store.commit('SET_USER_INFO', response.data)
          this.$router.push(window.history.back())
       })
       .catch((err) => {
         this.loading = false
         if (err.response != null && err.response.status === 422) {
           if (err.response.data.hasOwnProperty('name')) {
             this.errors.name = err.response.data.name
           }
           if (err.response.data.hasOwnProperty('password')) {
             this.errors.password = err.response.data.password[0]
           }
         } else {
           console.error(err)
         }
       })
    }
  }
}
</script>

<style lang="scss" scoped>

.register-link {
  margin: 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  .button-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
</style>
