<template>
  <section class="section center-box">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-one-quarter is-half">

          <div class="box" :class="">
            <h1 class="title">Register</h1>

            <p class="field">
              <label class="label">Username</label>
              <input
                class="input"
                :class="[errors.name ? 'is-danger animated shake': '']"
                type="name"
                name="name"
                placeholder=""
                v-model="payload.name"
                tabindex="1"
                autofocus
              >
              <span
                class="help is-danger"
                v-if="errors.name"
              >
                {{errors.name}}
              </span>
            </p>

            <p class="field">
              <label class="label">Email</label>
              <input
                class="input"
                :class="[errors.email ? 'is-danger animated shake': '']"
                type="email"
                name="email"
                placeholder=""
                v-model="payload.email"
                tabindex="3"
                autofocus
                @keyup.enter.prevent="register"
              >
              <span
                class="help is-danger"
                v-if="errors.email"
              >
                {{errors.email}}
              </span>
            </p>


            <p class="field">
              <label class="label">Password</label>
              <input
                class="input"
                :class="[errors.password ? 'is-danger animated shake': '']"
                type="password"
                name="password"
                v-model="payload.password"
                tabindex="4"
                @keyup.enter.prevent="register"
              >
            </p>


            <p class="field">
              <label class="label">Confirm Password</label>
              <input
                class="input"
                :class="[errors.password ? 'is-danger animated shake': '']"
                type="password"
                name="password_confirmation"
                v-model="payload.password_confirmation"
                tabindex="5"
                @keyup.enter.prevent="register"
              >
              <span
                class="help is-danger"
                v-if="errors.password"
              >
              {{errors.password}}
            </span>
            </p>

            <div class="field">
              <p
                class="control"
                :class="[errors.terms ? 'is-danger animated shake': '']"
              >
                <label class="checkbox">
                  <input type="checkbox"
                    v-model="terms"
                    tabindex="6"
                  >
                  I agree to the <router-link to="/terms" target="_blank">Terms of Service</router-link>
                  <br /><span
                    class="error"
                    v-if="errors.terms"
                  >
                  {{errors.terms}}
                </span>
                </label>
              </p>
            </div>

            <div class="button-row">
              <a
                class="button is-primary"
                :class="[loading ? 'is-loading' : '']"
                @click.prevent="register"
                tabindex="7"
              >
                Register
              </a>
              <router-link
                class="alt-btn"
                :to="{name: 'login'}"
              >
                Have an account? Log in
              </router-link>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  props: [
    'redirect'
  ],
  data () {
    return {
      payload: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        plan: ''
      },
      errors: {
        name: '',
        email: '',
        password: '',
        terms: ''
      },
      success: {
        login: false
      },
      loading: false,
      terms: false
    }
  },
  mounted () {

  },
  computed: {
  },
  methods: {
    register () {
      this.loading = true

      // Check if terms are checked
      if (!this.terms) {
        this.errors.terms = "You must agree to the Terms of Service to register."
        this.loading = false
        return
      }

      // this.payload.plan = this.$route.query.plan ? this.$route.query.plan : ''

      axios.post('/register', this.payload)
       .then((response) => {
         this.payload = {
           name: '',
           email: '',
           password: '',
           password_confirmation: ''
         }
         this.$store.commit('SET_USER_STATUS', true)
         this.$store.commit('SET_USER_INFO', response.data)

         this.$router.push('/')
       })
       .catch((err) => {
         this.loading = false
         if (err.response != null && err.response.status === 422) {
           if (err.response.data.hasOwnProperty('name')) {
             this.errors.name = err.response.data.name[0]
           }
           if (err.response.data.hasOwnProperty('email')) {
             this.errors.email = err.response.data.email[0]
           }
           if (err.response.data.hasOwnProperty('password')) {
             this.errors.password = err.response.data.password[0]
           }
         } else {
           console.error(err)
         }
       })


    }
  }
}
</script>

<style lang="scss" scoped>
.button-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  alt-btn {
    padding-top: 1em;
  }
}

.error {
  color: red;
}
</style>
