<template>
  <section class="section center-box">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-one-quarter is-half">

          <div class="box" :class="">
            <h1 class="title">Reset Password</h1>
            <template v-if="!success">
              <label class="label">Email</label>
              <p class="field">
                <input
                  class="input"
                  :class="[errors.email ? 'is-danger animated shake' : '']"
                  type="email"
                  name="email"
                  v-model="payload.email"
                  autofocus
                  @keyup.enter="reset"
                >
                <span
                  class="help is-danger"
                  v-if="errors.email"
                >{{errors.email}}</span>
              </p>

              <p class="field">
                <a
                  class="button is-primary"
                  :class="[loading ? 'is-loading' : '']"
                  @click.prevent="reset">
                    Send Password Reset Link
                </a>
              </p>
            </template>
            <template v-else>
              <div class="notification is-success">
                An email has been sent to {{payload.email}} with a link to reset your password.
              </div>
              <router-link :to="{name: 'login'}">Back to login</router-link>
            </template>
          </div>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  name: 'request-reset-password',
  data () {
    return {
      success: false,
      payload: {
        email: ''
      },
      errors: {
        email: ''
      },
      loading: false
    }
  },
  methods: {
    reset () {
      this.loading = true
      let submit = Object.assign({}, this.payload)
      if (!submit.remember) {
        delete submit.remember
      }
      axios.post('/password/email', submit)
       .then((response) => {
         this.errors.email = ''
         this.success = true
       })
       .catch((err) => {
         this.loading = false
         if (err.response != null && err.response.status === 422 && err.response.data.hasOwnProperty('email')) {
           this.errors.email = err.response.data.email[0]
         }
       })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
