<template>
  <section class="section center-box">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-one-quarter is-half">

          <div class="box" :class="">
            <h1 class="title">Reset Password</h1>

            <p class="field">
              <label class="label">Email</label>
              <input
                class="input"
                :class="[errors.email ? 'is-danger animated shake' : '']"
                type="email"
                name="email"
                v-model="payload.email"
                autofocus
                tabindex="1"
                @keyup.enter="reset"
              >
              <span
                class="help is-danger"
                v-if="errors.email"
              >{{errors.email}}</span>
            </p>


            <p class="field">
              <label class="label">Password</label>
              <input
                class="input"
                :class="[errors.password ? 'is-danger animated shake': '']"
                type="password"
                v-model="payload.password"
                tabindex="2"
                @keyup.enter="reset"
              >
            </p>


            <p class="field">
              <label class="label">Confirm Password</label>
              <input
                class="input"
                :class="[errors.password ? 'is-danger animated shake': '']"
                type="password"
                v-model="payload.password_confirmation"
                tabindex="3"
                @keyup.enter="reset"
              >
              <span
                class="help is-danger"
                v-if="errors.password"
              >
              {{errors.password}}
            </span>
            </p>

            <a
              class="button is-primary"
              :class="[loading ? 'is-loading' : '']"
              tabindex="4"
              @click.prevent="reset"
            >
                Reset Password
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  name: 'reset-password',
  data () {
    return {
      success: false,
      payload: {
        token: this.$route.params.token,
        email: '',
        password: '',
        password_confirmation: ''
      },
      errors: {
        email: '',
        password: '',
        password_confirmation: ''
      },
      loading: false
    }
  },
  methods: {
    reset () {
      this.loading = true
      let submit = Object.assign({}, this.payload)
      axios.post('/password/reset', submit)
       .then((response) => {
         window.location.href = '/'
       })
       .catch((err) => {
         this.loading = false
         if (err.response != null && err.response.status === 422) {
           if (err.response.data.hasOwnProperty('password')) {
             this.errors.password = err.response.data.password[0]
           }
           if (err.response.data.hasOwnProperty('email')) {
             this.errors.email = err.response.data.email[0]
           }
         } else {
           console.error(err)
         }
       })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
