<template>
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h2>Verifying your email address...</h2>
        <span class="icon is-large">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted () {
    const token = this.$route.params.token
    axios.post('/register/verify/' + token)
      .then(response => {
        this.$store.commit('SET_USER_STATUS', true)
        this.$store.commit('SET_USER_INFO', {
          username: response.data.name,
          email: response.data.email
        })

        this.$store.dispatch('showNotification', {
          body: 'Thank you for verifying your email address',
          type: 'is-info'
        })
        this.$router.push('/')
      })
      .catch(err => {
        this.$router.push('/login')
        this.$store.dispatch('showNotification', {
          body: err.response.data.status ? err.response.data.status : 'Error occurred while validating email address.  Please contact support.',
          type: 'is-danger'
        })
      })
  },
  data () {
    return {
      loading: true
    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>

</style>
